<script type="text/javascript">
    //Add Colegio
    $( document ).ready(function() {
        $("#btn_add").on("click",function () {
            $.ajax({
                type: "POST",
                url: "/colegio/add",
                data: $('#form_add').serialize(),
                success: function(data) {
                    if(data.type == 'error'){
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                                if (result.value) {
                                    window.location.href = '/colegio';
                                }
                            })
                    }                        
                },
                error: function(data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })                
    });
    //Fin Add Colegio

    //Rellenar Modal Edit
    function cap_datos(id, nom, dir, tel, correo){
        $("#id").val(id)
        $("#nom").val(nom)
        $("#dir").val(dir)
        $("#tel").val(tel)
        $("#correo").val(correo)
    }

    //Edit Asignatura
    $( document ).ready(function() {
        $("#btn_edit").on("click",function () {
            str = $('#form_edit').serialize();
            id = id.value
            console.log( id );
            $.ajax({
                type: "POST",
                url: "/colegio/edit/" + id,
                data: str,
                success: function(data) {
                    if(data.type == 'error'){
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                                if (result.value) {
                                    window.location.href = '/colegio';
                                }
                            })
                    }  
                },
                error: function(data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })
    });
    //Fin Edit Asignatura
</script>