<!-- Mobile Menu -->
<div class="mobile navbar-header">
    <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
    <i class="fa fa-bars fa-2x"></i>
    </a>
</div>
<!-- /Mobile Menu -->
<!-- Menu Start -->
<nav class="collapse navbar-collapse menu">
    <ul class="nav navbar-nav sf-menu">
        <li>
            <a id="current" href="{% url 'list_users' %}">
            Usuarios
            </a>
        </li>
        <li>
            <a id="" href="{% url 'nivel' %}">
            Niveles
            </a>
        </li>
        <li>
            <a id="" href="{% url 'asig' %}">
            Asignaturas
            </a>
        </li>
        <li>
            <a id="" href="{% url 'colegio' %}">
            Colegios
            </a>
        </li>
        <li>
            <a id="" href="{% url 'otec' %}">
            OTEC
            </a>
        </li>
        <li>
            <a id="" href="{% url 'list_document' %}">
            Material
            </a>
        </li>
    </ul>
</nav>
<!-- /Menu -->
