{% extends 'base.html' %}

{% block title %}Actualizar usuario{% endblock %}

{%block section %}
    <div>
        <h1>Actualizar usuario</h1>
    </div>
    <hr>
    {% if success_message %}
        {{success_message}}
    {% endif%}

    <div align="center">
        <form method="post">
            {% csrf_token %}
            <table class="table-responsive">
                {{ form.as_table }}
            </table>
            <div>
                <button class="btn btn-color">Actializar Usuario</button>
            </div>
        </form>
    </div>


{% endblock %}

