<script type="text/javascript">

    
    $( document ).ready(function() {

        //Add TYPE
        $("#btn_add").on("click",function () {
            $.ajax({
                type: "POST",
                url: "/type/new_type",
                data: $('#form_add').serialize(),
                success: function(data) {
                    if(data.type == 'error'){
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                                if (result.value) {
                                    window.location.href = '/type/all';
                                }
                            })
                    }                        
                },
                error: function(data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })
        //Fin Add TYPE

        //Edit TYPE
        $("#btn_edit").on("click",function () {
            str = $('#form_edit').serialize();
            $.ajax({
                type: "POST",
                url: "/type/" + '{{id}}',
                data: str,
                success: function(data) {
                    if(data.type == 'error'){
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        })
                    }else {
                        swal({
                            title: data.tittle,
                            text: data.mensaje,
                            type: data.type,
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                                if (result.value) {
                                    window.location.href = '/type/all';
                                }
                            })
                    }  
                },
                error: function(data) {
                    swal({
                        title: data.tittle,
                        text: data.mensaje,
                        type: data.type,
                        confirmButtonText: 'Aceptar'
                    })
                }
            });
        })
        //Fin Edit TYPE
    });
    


    
</script>