{% extends 'base.html' %}
{% block title %}Upload Material{% endblock %}

{% block section %}
    <br>
    <div align="center">
        <h1>Upload Material</h1>
    </div>
    <br>
    <h1>Cristal para de sapear</h1>
    <h1>Queeee maaaaaaaal</h1>
    {% if msg %}
        <hr>
        <p>|{% for ms in msg %}{{ msg }}|{% endfor %} </p>
        <hr>
    {% endif %}

    <div class="table-responsive" align="center">
        <form class="table-responsive" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <table class="table-responsive">
                {{ form.as_table }}

            </table>
            <br>
            <div>
                <button class="btn btn-color">Upload Doc</button>
            </div>
        </form>
    </div>
    <br>

    <a href="#">Up</a>
{% endblock %}
