{% extends 'base.html' %}

{% load static %}

{% block title %} DoceMas {% endblock %}

{% block bar_nav %}{% include 'nav_principal.html' %}{% endblock %}

{% block section %}

                <div class="fullwidthbanner-container tp-banner-container">
                    <div class="fullwidthbanner rslider tp-banner">
                        <ul>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="homeslider_thumb2.jpg" data-delay="10000"  data-saveperformance="on">
                                <img src="{% static 'img/carrusel/profe1.jpg' %}"  alt="Profe 1" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

                            </li>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                                <img src="{% static 'img/carrusel/profe3.jpg' %}" data-fullwidthcentering="on" alt="Profe 3">
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Slider -->
                <!-- Title, Service -->
                <div class="breadcrumb-wrapper" >
                    <div class="pattern-overlay">
                        <div class="container">
                            <div class="row">
                                <div id="Servicio" name="Servicio" class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <h2 class="title" >Servicios</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Title, Service -->
                <!-- Main Content -->
                <div class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                                <div class="content-box big ch-item bottom-pad-small">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                                            <div class="ch-info-back">
                                                <i class="fa fa-rocket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box-info">
                                        <h3>Capacitaciones</h3>
                                        <p>
                                            Se notificará a los usuarios las capacitaciones disponibles de nuestras OTEC asociadas.
                                        </p>
                                    </div>
                                    <div class="border-bottom margin-top30">
                                    </div>
                                    <div class="border-bottom">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                                <div class="content-box big ch-item bottom-pad-small">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-check"></i></div>
                                            <div class="ch-info-back">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box-info">
                                        <h3>Foro</h3>
                                        <p>
                                            Contará con un foro entre profesores para poder responder sus dudas entre ellos.
                                        </p>
                                    </div>
                                    <div class="border-bottom margin-top30">
                                    </div>
                                    <div class="border-bottom">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                                <div class="content-box big ch-item">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"><i class="fa fa-briefcase"></i></div>
                                            <div class="ch-info-back">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box-info">
                                        <h3>Material Didactico</h3>
                                        <p>
                                            Podrá compartir y utilizar el material didáctico compartido por los docentes de la plataforma.
                                        </p>
                                    </div>
                                    <div class="border-bottom margin-top30">
                                    </div>
                                    <div class="border-bottom">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Main Content -->
                <!-- Product Content -->
                <div class="product-lead bottom-pad margin-top100">
                    <div class="pattern-overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 text-center wow fadeInLeft">
                                    <img class="" src="{% static "img/carrusel/material.jpg" %}" alt="iPhone5c">
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                                    <div class="app-service padding-bottom50">
                                        <h2 id="Nosotros" name="Nosotros" class="light">Nosotros</h2>
                                        <h4>Una nueva experiencia profesional</h4>
                                        <p>DoceMas, es una nueva solución Web que permitirá a los profesionales de la educación,
                                            una interacción continúa de trabajo y ayuda con sus pares Docentes. A través de herramientas
                                            destinadas a facilitar el uso de material didáctico y compartir las buenas prácticas de Profesores y Educadoras.
                                        </p>
                                        <br>
                                        <h4>Contáctanos!</h4>
                                        <div class="divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Content -->


                <!-- Testimonials -->
                <div id="testimonials" class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-center">
                                    <h2 id="Testimonio" name="Testimonio" class="wow fadeIn">Testimonio</h2>
                                    <h4 class="wow fadeInRight">Al rededor de la comuna tenemos muchos profesores como usuarios, de los que recibimos sus comentarios para mejorar</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight">
                                <!-- Testimonials Widget -->
                                <div class="row margin-top25">
                                    <div class="testimonials widget">
                                        <div class="clearfix"></div>
                                        <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="testimonial item">
                                                            <p>
                                                                DoceMas me cambió la vida, mejoró la forma de comunicarme con otros docentes como yo, con los que podemos compartir nuestro material y recibir feedback.
                                                            </p>
                                                            <div class="testimonials-arrow"></div>
                                                            <div class="author">
                                                                <div class="testimonial-image ">
                                                                    <img alt="" src="img/testimonial/team-member-1.jpg">
                                                                </div>
                                                                <div class="testimonial-author-info">
                                                                    <a href="#"><span class="color">Mónica Perez</span></a> Profesora de Leguaje y Comunicación
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Testimonials Widget -->
                        </div>
                    </div>
                </div>
                <!-- /Testimonials -->
                <!-- Random Facts -->
                <div id="random-facts" class=" margin-top70">
                    <div class="pattern-overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="padding-top60 text-center">
                                        <h2 id="Alcance" name="Alcance" class="light wow fadeIn">Alcance</h2>
                                        <h4 class="light wow fadeInRight">
                                            Estadísticas de la plataforma
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">
                                    <div class="random-box padding-top30 padding-bottom40">
                                        <div class="random-box-icon">
                                            <i class="fa fa-coffee"></i>
                                        </div>
                                        <div class="random-box-info">
                                            <span class="facts" data-from="0" data-to="101" data-speed="5000" data-refresh-interval="50"></span>
                                            <p>
                                                COLEGIOS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">
                                    <div class="random-box padding-top30 padding-bottom40">
                                        <div class="random-box-icon">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="random-box-info">
                                            <span class="facts" data-from="0" data-to="299" data-speed="5000" data-refresh-interval="50"></span>
                                            <p>
                                                APORTES
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">
                                    <div class="random-box padding-top30 padding-bottom40">
                                        <div class="random-box-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="random-box-info">
                                            <span class="facts" data-from="0" data-to="175" data-speed="5000" data-refresh-interval="50"></span>
                                            <p>
                                                PROFESORES
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">
                                    <div class="random-box padding-top30 padding-bottom40">
                                        <div class="random-box-icon">
                                            <i class="fa fa-gift"></i>
                                        </div>
                                        <div class="random-box-info">
                                            <span class="facts" data-from="0" data-to="50" data-speed="5000" data-refresh-interval="50"></span>
                                            <p>
                                                OTEC
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Random Facts -->

                <!--  Star -->
                <div class="star">
                    <div class="col-md-12">
                        <div class="star-divider">
                            <div class="star-divider-icon">
                                <i class=" fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Star -->
                <div class="row padding-top margin-top">
                    <!-- Contact Details -->
                    <div class="contact-details">
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
                                    </div>
                                    <!-- end dm-icon-effect-1 -->
                                    <p>Av. Calle Nueva #123  <br>
                                        Huechuraba
                                    </p>
                                </div>
                                <!-- end service-icon -->
                            </div>
                            <!-- end miniboxes -->
                        </div>
                        <!-- /col-lg-4 -->
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                                    </div>
                                    <p><strong>Celular:</strong> (+56) 9 8832 7832<br>
                                        <strong>Telefono:</strong> (+56) 22 756 9832
                                    </p>
                                </div>
                                <!-- /service-icon -->
                            </div>
                            <!-- /miniboxes -->
                        </div>
                        <!--  /col-lg-4 -->
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                                    </div>
                                    <p><strong>Correo:</strong> docemas@doce.cl
                                    </p>
                                </div>
                                <!--  /service-icon -->
                            </div>
                            <!-- /miniboxes -->
                        </div>
                        <!-- /col-lg-4 -->
                    </div>
                    <!-- Contact Details -->
                </div>
                <!-- /margin-top --><br><br>
{% endblock %}
