{% extends 'base.html' %}

{% block title %}Mantenedor de usuarios{% endblock %}

{% block bar_nav %}{% include 'polls/nav_adm.html' %}{% endblock %}

{% block section %}
    <!-- Title, Breadcrumb -->
                <div class="breadcrumb-wrapper">
                    <div class="pattern-overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <h2 class="title">Mantenedor de Usuarios</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Title, Breadcrumb -->
                <!-- Main Content -->
                <div class="content margin-bottom60">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <table class="shopping-cart-table table">
                                    <tbody>
                                        <tr>
                                            <td class="action no-border">
                                                <a class="update btn btn-color pull-left" href="#" data-toggle="modal" data-target="#add_usuario"> Agregar Usuario</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table-box">
                                    <!-- shopping-cart-table -->
                                    <table class="shopping-cart-table responsive-table table table-bordered table-striped" id="shopping-cart-table">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Nombre</th>
                                                <th>Fecha Nacimiento</th>
                                                <th>Dirección</th>
                                                <th>Correo</th>
                                                <th>Telefono</th>
                                                <th>Estado</th>
                                                <th>Editar</th>
                                                <th>H/D</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    11111111-1
                                                </td>
                                                <td>
                                                    Rorrazo
                                                </td>
                                                <td>
                                                    21/12/1998
                                                </td>
                                                <td>
                                                    Psj. Dionisio 123
                                                </td>
                                                <td>
                                                    r.asis@alumnos.duoc.cl
                                                </td>
                                                <td>
                                                    +569 7812 7723
                                                </td>
                                                <td>
                                                    Bloqueado
                                                </td>
                                                <td>
                                                    <a href="#" data-toggle="modal" data-target="#edit_usuario"><i class="fa fa-pencil"></i> Editar</a>
                                                </td>
                                                <td>
                                                    <a href="#"><i class="fa fa-trash-o"></i> Borrar</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- /shopping-cart-table -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Main Content -->
            </section>
            <!-- /Main Section -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                            <p class="credits">&copy; Copyright 2018 by <a href="#">Franco Alvarado</a>. Todos los derechos reservados. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modals -->
            <section id="modals">
                <!-- Agrega Usuario Modal -->
                <div class="modal register fade" id="add_usuario" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="form-signin-heading modal-title" id="registrationModalLabel">Registro de Usuarios</h2>
                            </div>
                            <form method="post" id="registration">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="rut" name="rut" class="form-control" placeholder="Rut">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="nombre" name="nombre" class="form-control" placeholder="Nombre">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="date" value="12-05-2019" name="f_nac" class="form-control" placeholder="Fecha de Nacimiento">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="direccion" name="direccion" class="form-control" placeholder="Dirección">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="correo" name="correo" class="form-control" placeholder="Correo Electronico">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="telefono" name="tel" class="form-control" placeholder="Telefono">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-color">Agregar Usuario</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Agrega Usuario Modal -->
                <!-- Edita Usuario Modal -->
                <div class="modal register fade" id="edit_usuario" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="form-signin-heading modal-title" id="registrationModalLabel">Editar Usuario</h2>
                            </div>
                            <form method="post" id="registration">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="rut" name="rut" class="form-control" placeholder="Rut">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="nombre" name="nombre" class="form-control" placeholder="Nombre">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="date" value="12-05-2019" name="f_nac" class="form-control" placeholder="Fecha de Nacimiento">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="direccion" name="direccion" class="form-control" placeholder="Dirección">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="correo" name="correo" class="form-control" placeholder="Correo Electronico">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="telefono" name="tel" class="form-control" placeholder="Telefono">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-color">Editar Usuario</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Edita Usuario Modal -->
{% endblock %}


