{% extends 'base.html' %}
{% block title %}Agregar Hilo{% endblock %}

{% block section %}
    <div align="center">
        <h1>Agregar Hilo</h1>
    </div>
    <hr>
    {% if success_message %}

        <p>{{success_message}}</p>

        <hr>
    {% endif %}

    <div align="center" class="table-responsive">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div>
                <button class="btn btn-color">Crear Hilo</button>
            </div>
        </form>
    </div>
    <br><br>
{% endblock %}
