{% extends 'base.html' %}

{% block title %}
{{ hilo.titulo }}
{% endblock %}

{% block section %}
    <div align="center">
        <h1>{{ hilo.titulo }}</h1>
    </div>
    <br>
    <hr>
    <h3>Autor: {{ hilo.owner.username }} | {{hilo.fecha}}</h3>
    <br>
    <p>>>>> {{ hilo.descripcion }}</p>
    <br>

    <div align="center">
        {% for re in rehilo %}
            <hr>
            <br>
            <h2>{{ re.titulo }} </h2>
            <h3>Autor: {{ re.owner.username }} | {{re.fecha}} </h3>
            <p>>>>> {{ re.descripcion }}</p>
            <br>
        {% endfor %}
    </div>

    {% if success_message %}
        <hr>
        <p>{{success_message}}</p>
        <hr>
    {% endif %}

    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <div>
                <button class="btn btn-color">Agregar respuesta</button>
            </div>
        </form>
    </div>

{% endblock %}

