{% extends 'base.html' %}

{% block title %}
{{ hilo.titulo }}
{% endblock %}

{% block section %}
    <h1>{{ hilo.titulo }}</h1>
    <br>
    <hr>
    <h3>Autor: {{ hilo.owner.username }} | {{hilo.fecha}}</h3>
    <br>
    <p>>>>> {{ hilo.descripcion }}</p>
    <br>
    {% for re in rehilo %}
        <hr>
        <br>
        <h2>{{ re.titulo }} </h2>
        <h3>Autor: {{ re.owner.username }} | {{re.fecha}} </h3>
        <p>>>>> {{ re.descripcion }}</p>
        <br>
    {% endfor %}

    {% if success_message %}
        <hr>
        <p>{{success_message}}</p>
        <hr>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button class="btn btn-color">Agregar respuesta</button>
    </div>
    </form>

{% endblock %}

